{%- liquid
  assign subnav_id = 'subnav-' | append: section_id | append: '-' | append: link.id
  assign has_children = false
  if link.links != blank
    assign has_children = true
  endif
-%}
<li class="site-header__nav-item{% if has_children %} site-header__nav-item--has-children{% endif %}">
  {%- if has_children -%}
    <div class="site-header__nav-item-head">
      <a
        href="{{ link.url }}"
        class="site-header__nav-link"
        {% if link.active %}aria-current="page"{% endif %}
      >
        {{ link.title }}
      </a>
      <span class="site-header__nav-dropdown-icon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M19 9l-7 7-7-7"/>
        </svg>
      </span>
      <button
        type="button"
        class="site-header__subnav-toggle"
        data-subnav-toggle
        aria-expanded="false"
        aria-controls="{{ subnav_id }}"
      >
        <span class="visually-hidden">Toggle submenu: {{ link.title }}</span>
        <svg class="site-header__subnav-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>
      </button>
    </div>
    <ul id="{{ subnav_id }}" class="site-header__subnav" data-subnav>
      {%- for child_link in link.links -%}
        {%- render 'header-menu-item', link: child_link, section_id: section_id -%}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <a
      href="{{ link.url }}"
      class="site-header__nav-link"
      {% if link.active %}aria-current="page"{% endif %}
    >
      {{ link.title }}
    </a>
  {%- endif -%}
</li>
