{%- comment -%}
  Dot divider for process steps.
  @param section {section}
  @param position {string} 'top' | 'bottom'
  @param dots_size {number}
  @param dots_spacing {number}
{%- endcomment -%}
<div
  class="process-step__dots process-step__dots--{{ position }} process-step__dots--{{ section.settings.dots_shape | default: 'circle' }}"
  aria-hidden="true"
  style="
    --dots-color: {{ section.settings.dots_color | default: '#ADE8F6' }};
    --dots-size: {{ dots_size }}px;
    --dots-spacing: {{ dots_spacing }}px;
    --dots-width: {{ section.settings.dots_width | default: 100 }}%;
    --dots-offset-left: {{ section.settings.dots_offset_left | default: 0 }}%;
  "
></div>
